SESSION_SECRET="your_secure_random_string_here"
DISCORD_CLIENT_ID="your_discord_client_id"
DISCORD_CLIENT_SECRET="your_discord_client_secret"
DISCORD_CALLBACK_URL="http://localhost:5173/auth/discord/callback"
IRIS_URL="http://localhost:8080"
REDIS_URI="redis://localhost:6379"

TOPGG_WEBHOOK_SECRET="topgg_secret"  # you must obtain this from top.gg
DISCORD_VOTE_WEBHOOK_URL="" # the discord webhook url to send vote notifications to